.ContactsPage{
    text-align: right;
    ul{
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        &.separate{
            li:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }
}