$contentWidth: clamp(500px, 40%, 800px);

.Content{
    margin-left: auto;
    width: $contentWidth;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;

    .fade-out{
        position: absolute;
        background: linear-gradient(#FFF, transparent);
        width: 100%;
        top: 0;
        height: 20px;
        right: 4px;
        z-index: 1;
        clip-path: polygon(8px 0, 100% 0, 100% 100%, 8px 100%);
    }

    .content-container{
        cursor: grab;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding-top: clamp(40px,10%,60px);
        padding-left: clamp(40px,10%,60px);
        padding-right: clamp(40px,10%,60px);
        transition: opacity 0.5s;

        &.fade{
            opacity: 0;
        }
    }
}

@media(max-width:850px){
    .Content{
        width: 100% !important;
        height: 60vh;
        position: absolute;
        bottom: 0;
        transition: height 1s;

        &.align-top{
            height: 100%;
        }
    }
}

@media(max-width: 1180px){
    .Content{
        width: $contentWidth;
    }
}