.Gallery{
    position: relative;
    cursor: auto;

    .loading{
        width: 50px !important;
        min-width: 0px !important;
        margin: 50px auto;
        animation: image_loading infinite 1s;
    }

    .images{
        display: grid;
        grid-template-columns: 50% 50%;
        .image-container{ 
            overflow: hidden; 
            margin: 3px;

            .gallery-image{
                min-width: 100%;
                left: 0;
                top: 0;
                cursor: pointer;
                &:hover{
                    filter: invert(0.05);
                }
            }
        }
    }

    .gallery-modal-container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        background-color: rgba(0,0,0,0.8);
        z-index: 2;
        opacity: 1;
        transition: opacity 0.25s;

        &.hidden{
            opacity: 0;
        }

        .zoomed-image{
            margin: auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;

            .image-container{
                display: flex;
                max-width: 1536px;
                background-color: #ccc;
            }
            .description{
                background-color: #FFF;
                display: flex;
                padding: 15px;
                position: relative;
                p{
                    width: 100%;
                    text-align: center;
                    margin: auto;
                }
            }

            button{
                border: 0;
                background: none;
                padding: 0;
                
                &.clicked{
                    animation: button_click 0.5s;
                }
            }
            .close-gallery{
                font-size: 30px;
                position: absolute;
                right: 10px;
                top: 10px;
                height: 30px;

                &:hover{
                    filter: invert(0.5);
                }
            }
                  
            .previous, .next{
                color: #FFF;
                font-size: 40px;
                position: fixed;
                bottom: 10px;
            }
            .previous{
                left: 10px;
            }
            .next{
                right: 10px;
            }
        }
    }
}

@keyframes button_click{
    0%{
        filter: invert(0);
    }
    25%{
        filter: invert(0.75);
    }
    100%{
        filter: invert(0);
    }
}

@keyframes image_loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}