.LandingPage{
    display: flex;
    flex-direction: column;
    flex: 1;

    .description-container{
        display: flex;
        flex-direction: column;
        p{
            width: 90%;
            margin-top: 0;
        }
    }
    .shop-container{
        margin-top: auto;
        display: flex;
        flex-direction: row;

        a:first-child{
            margin: auto 20px auto auto;
        }
        .interflora{
            width: 100%;
        }
        .ekukka{
            width: 100%;
        }
    }

    img{
        width: 100%;
        &.loading{
            width: 50px !important;
            min-width: 0px !important;
            margin: auto;
            animation: image_loading infinite 1s;
        }
    }
}
@keyframes image_loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}