// fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Quicksand&family=Tangerine:wght@700&display=swap');

.title-text{
  font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
}

.body-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

.cursive-text{
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
}

.left{
  text-align: left;
  margin-right: auto;
}
.right{
  text-align: right;
  margin-left: auto;
}

// fontawesome
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

// scrollbar
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// stylings
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}
button{
  cursor: pointer;
  
  &>*{
      pointer-events: none;
  }
  &:focus{
      outline: none;
  }
}
.App{    
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  #site{
    flex: 1;
    display: flex;
    position: relative;
    &>*:not(.background-logo){
        z-index: 2;
    }

    .background-logo{
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        height: auto;
        width: 60%;
        max-width: 600px;
        transform: translate(-20%, 36%);
        filter:invert(0.9);
    }
    .background-image-container{
      flex: 1;
      z-index: 0;
      background-size: cover;
      background-position: 25%;
      position: relative;

      .shader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
      }
    }
  }
}

@media(max-width:850px){
  .App{
    #site{     
      flex-direction: column;
      .background-logo{
        bottom: 60%;
      }
      .background-image-container{
        background-position-x: 20%;
      }
    }
  }
}